<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>کارتونیو</title>

    <link rel="stylesheet" href="css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <link type="text/css" href="css/intro.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <div class="container header-container">
        <div class="row">
          <div class="col-md-4 site-logo">
            <a href="#"><img src="pics/logo2.png" alt="" /></a>
          </div>

          <div class="col-md-5 nav-container text-center">
            <ul class="navigation">
              <li><a href="index.html">خانه</a></li>
              <li><a href="#section-about">درباره ما</a></li>
              <li><a href="#section-contact">تماس با ما</a></li>
            </ul>
          </div>

          <div class="col-md-3 social-container text-center">
            <ul class="socials">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="intro-wrap">
      <div class="movie_card" id="bright">
        <div class="info_section">
          <div class="movie_header">
            <img class="locandina" src="pics/intro/coco1.jpg" />
            <h1>کوکو</h1>
            <h4>2017, آدریان مولینا</h4>
            <span class="minutes">117 دقیقه</span>
            <p class="type">Action, Crime, Fantasy</p>
          </div>
          <div class="movie_desc">
            <p class="text">
              انیمیشن ماجراجویی کوکو که با استقبال بی نظیر در گیشه مواجه شد و
              توانست برنده دو جایزه اسکار از جمله بهترین انیمیشن شود داستان یک
              پسر موسیقی دان با استعداد است که با یک قانون قدیمی خانواده اش
              روبرو میشود که موسیقی ممنوع است. او به سرزمین مردگان وارد میشود و
              با جد پدربزرگش که یک خواننده افسانه ای بوده آشنا میشود ...
            </p>
          </div>
          <div class="movie_social">
            <ul>
              <li><i class="material-icons">share</i></li>
              <li><i class="material-icons"></i></li>
              <li><i class="material-icons">chat_bubble</i></li>
            </ul>
          </div>
        </div>
        <div class="blur_back bright_back"></div>
      </div>

      <div class="movie_card" id="tomb">
        <div class="info_section">
          <div class="movie_header">
            <img class="locandina" src="pics/intro/raya1.jpg" />
            <h1>رایا</h1>
            <h4>2021, دان حال و کارلوس لوپز</h4>
            <span class="minutes">125 دقیقه</span>
            <p class="type">Action, Fantasy</p>
          </div>
          <div class="movie_desc">
            <p class="text">
              «رایا و آخرین اژدها»، انیمیشنی در ژانر اکشن-ماجراجویی و محصول سال
              2021 کشور آمریکا و کمپانی بزرگ انیمیشن سازی «دیزنی» است. داستان
              این انیمیشن در سرزمینی به اسم «کوماندرا» می گذرد؛ جایی که 5 قبیله
              توسط یک اژدها خلق شده و 5 قبیله در آن به ...
            </p>
          </div>
          <div class="movie_social">
            <ul>
              <li><i class="material-icons">share</i></li>
              <li><i class="material-icons"></i></li>
              <li><i class="material-icons">chat_bubble</i></li>
            </ul>
          </div>
        </div>
        <div class="blur_back tomb_back"></div>
      </div>

      <div class="movie_card" id="ave">
        <div class="info_section">
          <div class="movie_header">
            <img
              class="locandina"
              src="https://mr.comingsoon.it/imgdb/locandine/235x336/53715.jpg"
            />
            <h1>آنوارد</h1>
            <h4>2018, دن اسکارنو</h4>
            <span class="minutes">134 دقیقه</span>
            <p class="type">Action, Adventure, Sci-Fi</p>
          </div>
          <div class="movie_desc">
            <p class="text">
              به پیش انیمیشن فانتزی ساخت آمریکا است که در سال 2020 توسط استودیوی
              انیمیشن پیکسار ساخته شده است و والت دیزنی آن را منتشر کرده است.
              این فیلم به کارگردانی دن اسکنلون وبه تهیه کنندگی کوری رائه می
              باشد. فیلمنامه این اثر توسط اسکنلون ، جیسون هاردلی و کیت بونین
              نوشته شده است. در این انیمیشن...
            </p>
          </div>
          <div class="movie_social">
            <ul>
              <li><i class="material-icons">share</i></li>
              <li><i class="material-icons"></i></li>
              <li><i class="material-icons">chat_bubble</i></li>
            </ul>
          </div>
        </div>
        <div class="blur_back ave_back"></div>
      </div>
    </section>
    <div id="section-footer" class="footer-wrap text-center">
      <div class="container">
        <div class="col-md-12">
          <p class="copyright-text">
            <span>Jaximus</span> translated by
            <a href="http://webrubik.com/" target="_blank">cartonio.com</a>
            &copy; 2021 . All rights reserved
          </p>
        </div>
      </div>
    </div>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/scripts.js"></script>
    <script
      src="http://thecodeplayer.com/uploads/js/prefixfree.js"
      type="text/javascript"
    ></script>
  </body>
</html>
